@media (max-width: 960px) {
    body.body-fixed-top .page-mycarousel,
    body.custom-positions.body-fixed-top .page-mycarousel {
        top: 0px;
        margin-bottom: 80px;
    }

    .navbar .navbar-nav > li > a {
        padding: 25px 19px;
    }

    .navbar-inverse {
        background-color: #2a2c33;
    }
}

@media (max-width: 782px){
    .body-fixed-top.admin-bar .navbar-fixed-top {
        top: 46px;
    }
}

@media (min-width: 768px) and (max-width: 959px) {
    .flex-slider-center {
        top: 18.5%;
        width: 700px;
    }

    .slide-text-bg1 {
        margin: 0 0 13px;
    }

        .slide-text-bg1 h2 {
            display: block;
            font-size: 38px;
            line-height: 45px;
            margin: 0;
        }

    .slide-text-bg2 {
        margin: 0 0 11px;
        padding: 0 0 3px;
    }

        .slide-text-bg2 h1 {
            display: inline-block;
            font-size: 42px;
            line-height: 45px;
            margin: 0;
            padding: 0;
        }

        .slide-text-bg2 span {
            line-height: 45px;
        }

    .slide-text-bg3 {
        margin: 0 0 10px;
    }

        .slide-text-bg3 p {
            display: inline-block;
            font-size: 16px;
            line-height: 22px;
            margin: 0;
        }

    .flex_btn {
        font-family: 'SiteFontMedium';
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 5px;
        padding: 5px 12px;
    }

    .flex-direction-nav a {
        height: 40px;
        width: 40px;
    }

        .flex-direction-nav a:before {
            font-size: 28px;
            line-height: 1.4;
        }

    .flex-direction-nav .flex-prev {
        left: 30px;
    }

    .flex-direction-nav .flex-next {
        right: 30px;
    }

    .flexslider:hover .flex-prev {
        left: 30px;
    }

    .flexslider:hover .flex-next {
        right: 30px;
    }
    /*Menu Dropdown--------------*/
    .navbar-right {
        float: left !important;
    }
    /*Blog Page---------------*/
    .blog-post-title-wrapper-full {
        width: 100%;
    }

    .home-blog-area {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .navbar-header.index2 .contact-social.right {
        float: none;
        padding: 5px 0 10px;
    }

    .navbar-header.index2 .head-contact-social {
        float: none;
        text-align: center;
        display: block !important;
    }

    .navbar-header.index2 .navbar-brand {
        float: none;
    }

        .navbar-header.index2 .navbar-brand img {
            margin: 20px auto 0;
        }

    .navbar-header.index2 {
        text-align: center;
    }

    .navbar-header.index2 {
        padding: 15px 10px 5px 10px;
    }

    .index2 .header-module {
        float: none;
        padding: 0px 0 20px;
    }

    .blog-masonry-3-column .innerrow,
    .blog-masonry-4-column .innerrow,
    .blog-masonry-5-column .innerrow,
    .blog-masonry-6-column .innerrow {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .navbar4 .navbar-header {
        text-align: center;
    }

    .navbar4 .site-branding-text .navbar-brand {
        padding-top: 5px;
    }

    .navbar .navbar-collapse.collapse.in {
        overflow: visible !important;
    }

    .navbar4 .navbar-brand {
        float: none;
    }

        .navbar4 .navbar-brand img {
            margin: 0 auto;
        }

    .navbar4 .btn.navbar-toggle {
        float: none;
        margin: 15px auto;
    }

    .navbar4.navbar > .container .navbar-brand {
        margin-left: 0px;
    }

    .navbar-header.index2 .contact-social.right {
        float: none;
        padding: 5px 0 10px;
    }

    .navbar-header.index2 .head-contact-social {
        float: none;
        text-align: center;
        display: block !important;
    }

    .navbar-header.index2 .navbar-brand {
        float: none;
    }

        .navbar-header.index2 .navbar-brand img {
            margin: 20px auto 0;
        }

    .navbar-header.index2 {
        text-align: center;
    }

    .navbar-header.index2 {
        padding: 15px 10px 5px 10px;
    }

    .index2 .header-module {
        float: none;
        padding: 20px 0 20px;
    }

    .navbar4 .navbar-header {
        text-align: center;
    }

    .navbar4 .site-branding-text .navbar-brand {
        padding-top: 5px;
    }

    .navbar .navbar-collapse.collapse.in {
        overflow: visible !important;
    }

    .navbar4 .navbar-brand {
        float: none;
    }

        .navbar4 .navbar-brand img {
            margin: 0 auto;
        }

    .navbar4 .btn.navbar-toggle {
        float: none;
        margin: 15px auto;
    }

    .navbar4.navbar > .container .navbar-brand {
        margin-left: 0px;
    }

    .navbar .search-box-outer .dropdown-menu {
        width: 17.5rem !important;
        left: 0;
    }

    .index2 .search-box-outer .dropdown-menu {
        width: 17.5rem !important;
        left: -90px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .blog-list-view .blog-post-detail {
        width: 50%;
        margin: 15px 0 0px;
    }
}

@media (max-width: 767px) {
    body.body-fixed-top .page-mycarousel, body.custom-positions.body-fixed-top .page-mycarousel, body.custom-positions .page-mycarousel:not(.home .page-mycarousel) {
        margin-bottom: 15px
    }

    article footer .blog-post-meta {
        display: block;
    }

        article footer .blog-post-meta .blog-tags {
            display: inline-block;
            margin: 0 0 5px;
        }

    .cookies button.btn:not(.not, .has-icon) {
        max-width: 200px;
        min-width: 150px
    }

    .blog-post-meta a {
        padding: 5px 0px 5px 0px;
    }

    .navbar {
        display: block;
    }

    .navbar .container{
        margin: auto 0;
    }

    .page-title-col {
        top: 50%;
    }

        .page-title-col h1 {
            font-size: 30px;
            line-height: 35px;
        }

    .breadcrumbs {
        padding: 5px 0;
    }

        .breadcrumbs > li {
            font-size: 12px;
            line-height: 18px;
        }

    .about-section iframe {
        width: 100%;
    }

    .col-md-4.col-sm-6.service-effect.first_column div.service-area,
    .col-md-4.col-sm-6.service-effect.last_column div.service-area {
        border-radius: var(--border-bigbase);
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    /*Header Top Area----------------*/
    .head-contact-social, .head-contact-info {
        float: none;
        text-align: center;
    }

    .head-contact-social {
        display: none;
    }

    .head-contact-info li:first-child{
        margin-left:0px
    }
    /*Flexslider--------------------------*/
    .flex-slider-center {
        top: 18%;
        width: 610px;
    }

    .slide-text-bg1 {
        margin: 0 0 9px;
    }

        .slide-text-bg1 h2 {
            display: block;
            font-size: 25px;
            line-height: 30px;
            margin: 0;
        }

    .slide-text-bg2 {
        margin: 0 0 6px;
        padding: 0 0 3px;
    }

        .slide-text-bg2 h1 {
            display: inline-block;
            border-bottom: 1px solid #FFFFFF;
            border-top: 1px solid #FFFFFF;
            font-size: 28px;
            line-height: 30px;
            margin: 0;
            padding: 0;
        }

        .slide-text-bg2 span {
            line-height: 35px;
        }

    .slide-text-bg3 {
        margin: 0 0 8px;
    }

        .slide-text-bg3 p {
            display: inline-block;
            font-size: 12px;
            line-height: 20px;
            margin: 0;
        }

    .flex_btn {
        font-family: 'SiteFontBold';
        font-size: 9px;
        line-height: 18px;
        margin-bottom: 5px;
        padding: 2px 9px;
        border: 1px solid #FFFFFF;
    }

    .flex-direction-nav a {
        height: 35px !important;
        width: 35px !important;
    }

        .flex-direction-nav a:before {
            font-size: 22px !important;
            line-height: 1.6 !important;
        }

    .flex-direction-nav .flex-prev {
        left: 20px;
    }

    .flex-direction-nav .flex-next {
        right: 20px;
    }

    .flexslider:hover .flex-prev {
        left: 20px;
    }

    .flexslider:hover .flex-next {
        right: 20px;
    }
    /*Menu Dropdown--------------*/
    .navbar-brand {
        margin-right: 0px;
    }

    .btn.navbar-toggle {
        float: right;
        padding: 8px 8px;
        margin-top: 34px;
        margin-right: 15px;
        margin-bottom: 34px;
        border: 1px solid transparent;
        border-radius: 2px;
    }

    .navbar .navbar-nav > li > a {
        padding: 15px 20px;
        font-size: 14px;
        transition: all 0.4s ease 0s;
    }

        .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus,
        .navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus,
        .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
            background-color: transparent !important;
        }

    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 15px 20px 15px 20px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
            color: #00c2a9;
        }

    .navbar > .container .site-logo-area {
        margin-left: 15px;
    }

    .navbar-wrapper {
        position: relative;
        right: 0;
        left: 0;
        margin-top: 0px;
        z-index: 20;
    }

    .navbar-inverse {
        background-color: #2a2c33;
    }

    .callout-section {
        width: auto;
    }

    .about-section {
        margin-bottom: 70px;
    }

        .about-section h3 {
            padding: 0px;
        }

        .about-section p {
            padding: 0px;
        }

    .about-social-icons {
        padding-left: 0px;
    }
    /*Blog Page---------------------------*/
    .blog-section-left {
        margin-right: 0px;
    }

    .blog-section-right {
        margin-left: 0px;
    }

    .blog-post-title-wrapper-full {
        width: 100%;
    }

    .blog-detail-section {
        margin-right: 0px;
    }

    .blog-author {
        margin-right: 0px;
    }

    .comment-section {
        margin-right: 0px;
    }

    .comment-form-section {
        margin-right: 0px;
    }

    .form-inline .blog-form-group {
        width: 100%;
    }

    .form-inline .blog-form-group-textarea {
        width: 100%;
    }

    .pull-left-comment {
        float: none;
    }

    .home-blog-area {
        margin-bottom: 50px;
    }

    /*Portfolio Detail-----------*/
    .portfolio-detail-pagi,
    .portfolio-detail-description,
    .portfolio-detail-info {
        margin-right: 0px;
    }
    /*Contact Page----------------*/
    .form-inline .cont-form-group {
        width: 99.4%;
    }

    .form-inline .cont-form-group-textarea {
        width: 100%;
    }
    /*Footer social icons*/
    .footer-contact-social {
        text-align: center;
    }

        .footer-contact-social li {
            margin-bottom: 10px;
        }

            .footer-contact-social li > a > i {
                font-size: 27px;
                line-height: 35px;
            }
    /*Widget Css*/
    .sidebar-widget div#calendar_wrap table#wp-calendar,
    .footer_widget_column div#calendar_wrap table#wp-calendar {
        padding: 0px;
        width: 100%;
    }
    /*Features css*/
    .features-title {
        margin-top: 40px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    /* for small size screen all the nested comments comes at the same hierarchical level*/
    .comment-section ul.children {
        padding-left: 0px;
    }
}

@media (max-width: 625px) {
    .blog-form-group {
        width: 99%;
        margin-bottom: 0px
    }
}

@media (max-width:600px) {
    .blog-list-view .blog-post-detail {
        width: 50%;
        margin: 0px 0 0px;
    }

    .navbar-header.index2 .contact-social.right {
        padding: 0 0;
        float: none;
    }

    .testimonial3 .testimonial-area img {
        position: relative;
        margin-left: 0px;
    }

    .testimonial3 .testimonial-area p {
        text-align: left;
        margin-left: 0px;
        margin-top: 10px;
        padding: 0;
    }

    .testimonial3 p:before {
        top: 120px;
        left: 20px;
    }
}
