.container {
    width: 1570px;
    max-width: 1570px;
}

.cookies button.btn {
    min-width: 560px;
}

.navbar-fixed-top .custom-logo,
.navbar-static-top .custom-logo {
    max-width: 600px;
}

.blog-left-sidebar article section figure.wp-block-embed iframe,
.blog-right-sidebar article section figure.wp-block-embed iframe,
.blog-detail-section article section figure.wp-block-embed iframe,
.archive article section figure.wp-block-embed iframe {
    width: 800px
}

.blog-form-group {
    width: 49.15%;
}

.container.single.portfolio .port-detail-img {
    height: 1000px;
    width: 1000px;
}

.container.single.portfolio .row.portfolio-detail-section.no_background .port-detail-img {
    height: 1023px;
    width: 1023px
}


.portfolio-detail-pagi .button.btn {
    min-width: 240px;
}