@font-face {
    font-family: "SiteFont";
    font-style: normal;
    font-weight: 400;
    src: url('el-messiri/ElMessiri-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: "SiteFontLight";
    font-style: normal;
    font-weight: 200;
    src: url('el-messiri/ElMessiri-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: "SiteFontBold";
    font-style: normal;
    font-weight: 400;
    src: url('el-messiri/ElMessiri-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: "SiteFontSemi";
    font-style: normal;
    font-weight: 400;
    src: url('el-messiri/ElMessiri-SemiBold.ttf');
    font-display: swap;
}


@font-face {
    font-family: "SiteFontMedium";
    font-style: normal;
    font-weight: 400;
    src: url('el-messiri/ElMessiri-Medium.ttf');
    font-display: swap;
}
