.page-title, .woocommerce-result-count {
    color: #2a2c33;
}

.woocommerce-ordering select {
    color: #727272;
    border: 1px solid #cacaca;
}

    .woocommerce-ordering select > option {
        color: #2a2c33;
    }

.woocommerce ul.products li.product h3 {
    color: #2a2c33;
}

.woocommerce .products .star-rating {
    color: #F0C430;
}

.woocommerce ul.products li.product .onsale {
    border: 2px solid #e95144;
    color: #e95144;
}

.woocommerce span.onsale {
    border: 2px solid #e95144;
    color: #e95144;
}

.woocommerce ul.products li.product .price {
    color: #545454;
}

.woocommerce #respond input#submit.alt, .woocommerce button.button.alt {
    background-color: #00c2a9;
    color: #ffffff;
}

    .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,
    .woocommerce #respond input#submit.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
        background-color: #3c3f49;
        color: #fff;
    }

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    border: 1px solid #eaeaea;
    background: #f5f5f5;
}

    .woocommerce ul.products li.product:before, .woocommerce ul.products li.product:after,
    .woocommerce-page ul.products li.product:before, .woocommerce-page ul.products li.product:after {
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.8);
        -moz-box-shadow: 0 0 15px rgba(0,0,0,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.8);
    }

.woocommerce a.added_to_cart {
    background-color: #404452;
    color: #ffffff;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #00c2a9;
    color: #ffffff;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    background-color: #fafafa;
    color: #545454;
    border: 1px solid #eaeaea;
}

.woocommerce div.product .product_title {
    color: #2a2c33;
}

.woocommerce-review-link, .woocommerce p, .woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #727272;
}

.woocommerce div.product form.cart, .woocommerce div.product p.cart {
    border-bottom: 1px solid #eaeaea;
}

.posted_in {
    color: #727272;
}

    .posted_in a {
        color: #727272;
    }

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: #00c2a9;
    border-bottom-color: #00c2a9;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    border-bottom: 1px solid #eaeaea;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 1px solid #eaeaea;
    background-color: #eaeaea;
}

    .woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
        color: #fff;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
        color: #545454;
    }

.woocommerce-Tabs-panel h2, .woocommerce-Tabs-panel {
    color: #2a2c33;
}

.woocommerce #reviews #comments ol.commentlist li .meta {
    color: #2a2c33;
}

.products h2 {
    color: #2a2c33;
}

.woocommerce .star-rating, .woocommerce p.stars a {
    color: #F0C430;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
    background-color: #fafafa;
    color: #727272;
}

.woocommerce-message, .woocommerce-info {
    border-top-color: #00c2a9;
}

    .woocommerce-message:before, .woocommerce-info:before {
        color: #00c2a9;
    }

    .woocommerce-info a {
        color: #727272;
    }

.woocommerce-info {
    background-color: #ffffff;
    color: #727272;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    border: 1px solid #eaeaea;
}

.woocommerce div.product #reviews .comment img, .woocommerce-page div.product #reviews .comment img {
    border: 2px solid #b3b8c6;
}

.woocommerce #review_form #respond textarea, .woocommerce-Reviews input[type="text"], .woocommerce-Reviews input[type="email"] {
    border: 1px solid #eaeaea;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    color: #575961;
}

    .woocommerce-cart table.cart td.actions .coupon .input-text input::placeholder {
        color: #000;
    }

.product-name a {
    color: #727272;
}

.quantity input[type="number"] {
    color: #727272;
}

.woocommerce a.remove {
    color: #2a2c33 !important;
}

.input-text::-webkit-input-placeholder {
    color: #727272;
}

.input-text:-moz-placeholder {
    color: #727272;
}

.input-text::-moz-placeholder {
    color: #727272;
}

.input-text:-ms-input-placeholder {
    color: #727272;
}



textarea::-webkit-input-placeholder {
    color: red;
}

textarea:-ms-input-placeholder {
    color: red;
}

textarea::-moz-placeholder {
    color: red;
    opacity: 1;
}

textarea:-moz-placeholder {
    color: red;
    opacity: 1;
}


.woocommerce .cart_totals h2 {
    color: #fff;
}

.woocommerce a.button.alt {
    background-color: #00c2a9;
}

    .woocommerce a.button.alt:hover {
        background-color: #00c2a9;
        color: #fff;
    }

.cart-subtotal th {
    background-color: #eee;
    color: #fff;
}

.order-total th {
    background-color: #eee;
    color: #fff;
}

.woocommerce-checkout #payment {
    background-color: #fafafa;
    color: #727272;
    border: 1px solid #eaeaea;
}

.woocommerce-checkout #payment {
    border-radius: 0;
}

    .woocommerce-checkout #payment div.payment_box {
        background-color: #eeeeee;
    }

    .woocommerce-checkout #payment div.payment_box {
        background-color: #eeeeee;
    }

        #add_payment_method #payment div.payment_box:before, .woocommerce-cart #payment div.payment_box:before, .woocommerce-checkout #payment div.payment_box:before {
            border: 1em solid #eeeeee;
            border-right-color: transparent;
            border-left-color: transparent;
            border-top-color: transparent;
        }

.woocommerce input.button.alt {
    background-color: #00c2a9;
}

.woocommerce-checkout #payment ul.payment_methods {
    background-color: transparent;
    border-bottom: 1px solid #eaeaea;
}

.woocommerce-billing-fields input {
    color: #e5e5e5;
}

.woocommerce div.product form.cart .variations select {
    color: #fff;
    background: transparent;
    border: 1px solid #3d3f47;
}

    .woocommerce div.product form.cart .variations select option {
        color: #202020;
    }

.variations td.label {
    color: #e5e5e5;
}

.reset_variations {
    color: #fff;
    color: #e5e5e5;
}

.sku_wrapper {
    color: #727272;
}

.woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover,
.woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover {
    background-color: #00c2a9;
    color: #fff;
}

.woocommerce form .form-row input[type="text"], .woocommerce form .form-row input[type="email"], .woocommerce form .form-row input[type="tel"], .select2-container .select2-choice, .woocommerce form .form-row textarea {
    background-color: transparent;
    border: 1px solid #cacaca;
    color: #727272;
}

.select2-container .select2-choice, .about_paypal {
    color: #727272;
}

.woocommerce form .form-row .input-text::-webkit-input-placeholder {
    color: #ccc;
}

.woocommerce form .form-row .input-text:-moz-placeholder {
    color: #e5e5e5;
}

.woocommerce form .form-row .input-text::-moz-placeholder {
    color: #e5e5e5;
}

.woocommerce form .form-row .input-text:-ms-input-placeholder {
    color: #e5e5e5;
}

.woocommerce-MyAccount-navigation ul li {
    border-bottom: 1px solid #cacaca;
}

    .woocommerce-MyAccount-navigation ul li > a {
        color: #727272;
        font-weight: 500;
    }

        .woocommerce-MyAccount-navigation ul li > a:hover {
            color: #00c2a9;
        }

.woocommerce .quantity .qty {
    border: 1px solid #cacaca;
}

.woocommerce td.product-name dl.variation dt {
    color: #727272;
}

.woocommerce-Price-amount {
    color: #727272;
}

.woocommerce table.shop_table td {
    color: #727272;
}

/*Woo Sidebar*/
.widget-title {
    color: #2a2c33;
}

.ui-slider .ui-slider-handle {
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: #e7e7e7;
    background: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#e7e7e7));
    background: -webkit-linear-gradient(#FEFEFE,#e7e7e7);
    background: -moz-linear-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    background: -moz-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
}

.price_slider_wrapper .ui-widget-content {
    background: #1e1e1e;
    background: -webkit-gradient(linear,left top,left bottom,from(#1e1e1e),to(#6a6a6a));
    background: -webkit-linear-gradient(#1e1e1e,#6a6a6a);
    background: -moz-linear-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
    background: -moz-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
}

.woocommerce-product-search input[type="search"] {
    border: 1px solid #E0E4E6;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #727272;
}

.woocommerce-product-search input[type="submit"] {
    background-color: #00c2a9;
    color: #ffffff;
}

.cart_list a {
    color: #00c2a9;
}

.woocommerce ul.cart_list li dl dt, .woocommerce ul.product_list_widget li dl dt {
    font-size: 16px;
    color: #fff;
}

.quantity {
    color: #727272;
}

.woocommerce ul.cart_list li {
    border-bottom: 1px dotted #7b7f8c;
    color: #727272;
}

.woocommerce ul.product_list_widget li, .product_list_widget li, .woocommerce form .form-row input.input-text {
    background: transparent;
    border: 1px solid #cacaca;
}

.product_list_widget li {
    border-bottom: 1px solid #cacaca !important;
}

.product_list_widget li {
    color: #e5e5e5;
}

.price_label, a.wc-backward, .woocommerce .order_details li {
    color: #727272;
}

.woocommerce table.shop_table tfoot th, .woocommerce table.shop_table th {
    background: #eaeaea;
    color: #2a2c33;
    border-bottom: 2px solid #eaeaea;
}

.woocommerce-account .addresses .title .edit, .edit-account fieldset legend {
    color: #2a2c33;
    border-bottom: 1px solid #cacaca;
}

.woocommerce-password-strength.short, .woocommerce-password-strength.bad, .woocommerce-password-strength.good, .woocommerce-password-strength.strong {
    color: black;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    border: 1px solid #cacaca !important;
}

.order a, .wc-forward {
    color: #00c2a9;
}

.ui-slider-horizontal .ui-slider-range {
    background-color: #00c2a9;
}

.total strong, .woocommerce-Price-amount {
    color: #727272;
}

.tagged_as a {
    color: #727272;
}

.woocommerce-message a {
    color: #00c2a9;
}

.footer-widget-section .woocommerce-mini-cart__buttons.buttons a:hover, .sidebar-widget .woocommerce-mini-cart__buttons.buttons a:hover {
    background-color: #3c3f49;
}

.price_slider_amount .button:hover {
    background-color: #3c3f49 !important;
}

.ui-slider .ui-slider-handle {
    background-color: #3c3f49;
}
