body {
    color: #333333;
}

    body.fixed_Header .navbar.navbar-static-top {
        background-color: rgba(0, 0, 0, 0.4);
    }


    body.fixed_Header .navbar.navbar-fixed-top {
        background-color: rgba(0, 0, 0, 0.6);
    }

article figure figcaption a {
    color: #f5f5f5
}

#blogdetail_btn {
    color: #FFF
}

#gallery-2 img {
    border: 2px solid #cfcfcf;
    border: 2px solid #cfcfcf
}

#searchbar_fullscreen {
    background-color: rgba(35,37,45,0.95);
    border: 15px rgba(55,57,65,0.6) solid
}

    #searchbar_fullscreen .btn {
        color: #FFF
    }

    #searchbar_fullscreen .close {
        color: #ccc
    }

        #searchbar_fullscreen .close:hover {
            color: darkred
        }

    #searchbar_fullscreen input[type="search"] {
        background: rgba(55,57,65,0.6);
        color: #64646d;
        caret-color: #fff
    }

.about-section h3 {
    color: #fff
}

.about-section p {
    color: #e5e5e5
}

.row.no_background.about-section.img .bigborder,
.row.no_background.attachment-section.img .bigborder {
    background-color: #3c3f49;
    background-color: rgba(55,57,65,0.8);
}

.row.no_background .team-area.bigborder {
    background-color: #3c3f49;
    background-color: rgba(55,57,65,0.8);
}

.about-section.text .social {
    background-color: #3c3f49;
    background-color: rgba(80,82,90,0.8);
}

.section_heading_title.bigborder {
    background-color: #3c3f49;
    background-color: rgba(55,57,65,0.8);
}

.about-contact-social a {
    color: white;
}

.about-social-icons li {
    background-color: rgba(0,0,0,0);
    border: 0 solid #FFF
}

    .about-social-icons li > a > i {
        color: #FFF
    }

.acco_panel {
    background-color: #FFF
}

    .acco_panel p {
        color: #2a2c33
    }

.alert-error {
    background-color: #fce2e3;
    border: 1px solid #FAC2C4;
    color: #E54034;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5)
}

    .alert-error .close {
        color: #E54034
    }

.alert-info {
    background-color: #D9EDF7;
    border: 1px solid #BCE8F1;
    color: #04567d;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5)
}

    .alert-info .close {
        color: #04567D
    }

.alert-success {
    background-color: #E5EEC0;
    border: 1px solid #C4D67E;
    color: #576C01;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5)
}

    .alert-success .close {
        color: #576C01
    }

.alert-warning {
    background-color: #FDF4BD;
    border: 1px solid #FED223;
    color: #927E03;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5)
}

    .alert-warning .close {
        color: #927E03
    }

.attachment-post-thumbnail {
    color: #e5e5e5
}

.bg-light {
    background-color: rgba(255,255,255,0.95) !important
}

.blockquote2 > small {
    color: #fff
}

.blockquote2 > span {
    color: #e5e5e5
}

.blog-author {
    background-color: #3c3f49;
    background-color: rgba(70,72,80,0.8)
}

    .blog-author h6 {
        color: #fff
    }

    .blog-author p {
        color: #e5e5e5
    }

.blog-author-social li {
    border: 1px solid #5a5c66
}

    .blog-author-social li > a {
        color: #fff
    }

.blog-blockquote blockquote {
    background-color: transparent
}

    .blog-blockquote blockquote > span {
        color: #e5e5e5
    }

.blog-detail-section {
    background-color: #3c3f49;
    background-color: rgba(80,82,90,0.8)
}

.blog-form-control {
    color: #e5e5e5;
    background-color: transparent;
    border: 1px solid #7b7f8c
}

.blog-form-control-textarea {
    color: #e5e5e5;
    background-color: transparent;
    border: 1px solid #7b7f8c
}

.blog-pagination {
    background-color: rgba(55,57,65,0.8);
}

    .blog-pagination a, .page-links a, .blog-pagination span, .page-numbers {
        background-color: #3c3f49;
        color: #FFF
    }

        .blog-pagination a:hover, .blog-pagination a.active, .page-links a:hover, .page-links a.active, .blog-pagination span, .page-numbers:hover, span.page-numbers.current {
            color: #FFF
        }

            .blog-pagination span.current {
                background-color: #00c2a9;
                color: #FFF
            }

.blog-post-date {
    background-color: #FFF
}

    .blog-post-date span.comment {
        color: #2a2c33
    }

    .blog-post-date span.comment {
        color: #2a2c33
    }

    .blog-post-date span.date {
        color: #FFF
    }

.blog-post-detail {
    color: #e5e5e5;
    border-top: 1px dotted #7B7F8C
}

    .blog-post-detail a {
        color: #e5e5e5
    }

        .blog-post-detail a > i {
            color: #e5e5e5
        }

        .blog-post-detail a:hover {
            color: #fff
        }

.blog-post-meta {
    color: #545454
}

    .blog-post-meta a {
        color: #e5e5e5
    }

        .blog-post-meta a > i {
            color: #e5e5e5
        }

        .blog-post-meta a:hover {
            color: #fff
        }

.blog-post-title {
    color: #f5f5f5;
}

    .blog-post-title .blog-post-title-wrapper blockquote > p > span, .blog-post-title .blog-post-title-wrapper-full blockquote > p > span {
        color: #e5e5e5
    }

    .blog-post-title .blog-post-title-wrapper ul > li > span, .blog-post-title .blog-post-title-wrapper-full ul > li > span {
        color: #e5e5e5
    }

.blog-post-title-wrapper > blockquote, .blog-post-title-wrapper-full > blockquote {
    background-color: #3c3f49
}

.blog-post-title-wrapper > dl > dt, .blog-post-title-wrapper-full > dl > dt, .blog-post-title-wrapper > dl > dd, .blog-post-title-wrapper-full > dl > dd {
    color: #e5e5e5
}

.blog-post-title-wrapper > ol > li, .blog-post-title-wrapper-full > ol > li, .blog-post-title-wrapper > ol > li > ul > li, .blog-post-title-wrapper-full > ol > li > ul > li, .blog-post-title-wrapper > ol > li > ul > li > ol > li, .blog-post-title-wrapper-full > ol > li > ul > li > ol > li {
    color: #e5e5e5
}

    .blog-post-title-wrapper > ol, .blog-post-title-wrapper > ol > li, .blog-post-title-wrapper-full > ol, .blog-post-title-wrapper-full > ol > li, .blog-post-title-wrapper > ol > li > ol > li, .blog-post-title-wrapper-full > ol > li > ol > li, .blog-post-title-wrapper > ol > li > ol > li > ol > li, .blog-post-title-wrapper-full > ol > li > ol > li > ol > li {
        color: #e5e5e5
    }

.blog-post-title-wrapper > table, .blog-post-title-wrapper-full > table {
    background-color: transparent;
    border: 1px solid #fff
}

.blog-post-title-wrapper > ul, .blog-post-title-wrapper > ul > li, .blog-post-title-wrapper-full > ul, .blog-post-title-wrapper-full > ul > li, .blog-post-title-wrapper > ul > li > ul > li, .blog-post-title-wrapper-full > ul > li > ul > li, .blog-post-title-wrapper > ul > li > ul > li > ul > li, .blog-post-title-wrapper-full > ul > li > ul > li > ul > li {
    color: #e5e5e5
}

.blog-post-title-wrapper address, .blog-post-title-wrapper-full address {
    color: #e5e5e5
}

.blog-post-title-wrapper h4.linked_post, .blog-post-title-wrapper-full h4.linked_post {
    border-bottom: 1px dotted #cacaca;
    color: #f5f5f5
}


.blog-post-title-wrapper blockquote > p > small, .blog-post-title-wrapper-full blockquote > p > small {
    color: #e5e5e5
}

.blog-post-title-wrapper h2 a, .blog-post-title-wrapper-full h2 a {
    color: #f5f5f5
}

.blog-post-title-wrapper h2, .blog-post-title-wrapper-full h2 {
    color: #f5f5f5
}

.blog-post-title-wrapper p, .blog-post-title-wrapper-full p {
    color: #e5e5e5
}

.blog-section-full {
    background-color: #3c3f49;
    background-color: rgba(80,82,90,0.8);
}

.blog-section-left {
    background-color: #3c3f49;
    background-color: rgba(80,82,90,0.8);
}

    .blog-section-left.blog-list-view {
        background: none;
    }

        .blog-section-left.blog-list-view .post {
            background-color: #3c3f49;
            background-color: rgba(80,82,90,0.8);
        }

.blog-section-right {
    background-color: #3c3f49;
    background-color: rgba(80,82,90,0.8);
}

.blog-tags a {
    color: #e5e5e5
}

.blog-tags i {
    color: #e5e5e5
}

.blog-tags span {
    color: #e5e5e5
}

.blogdetail-btn a {
    color: #FFF
}

.breadcrumbs {
    background-color: transparent
}

    .breadcrumbs > li a {
        color: #fff
    }

.callout-section a {
    color: #fff
}

.callout-section h3 {
    color: #FFF;
    text-shadow: 1px 1px 3px rgba(0,0,0,0)
}

.callout-section p {
    color: #e5e5e5
}

.clients-logo, .partners-logo {
    background-color: transparent;
    background: none repeat scroll 0 0 rgba(100, 100, 100, 0.4);
    border: 0.2em solid #fff
}

    .clients-logo:hover, .partners-logo:hover {
        background: none repeat scroll 0 0 rgba(100, 100, 100, 0.8);
    }

.column-box p {
    color: #e5e5e5
}

.columnfiller {
    background-color: rgba(55,57,65,0.8)
}

.comment-detail {
    border-bottom: 1px dotted #7b7f8c
}

    .comment-detail > ol > li, .comment-detail > ol > li > ul > li, .comment-detail > ol > li > ul > li > ol > li {
        color: #e5e5e5
    }

        .comment-detail > ol, .comment-detail > ol > li, .comment-detail > ol > li > ol > li, .comment-detail > ol > li > ol > li > ol > li {
            color: #e5e5e5
        }

    .comment-detail > table {
        background-color: transparent;
        border: 1px solid #fff
    }

    .comment-detail > ul, .comment-detail > ul > li, .comment-detail > ul > li > ul > li, .comment-detail > ul > li > ul > li > ul > li {
        color: #e5e5e5
    }

    .comment-detail address {
        color: #e5e5e5
    }

    .comment-detail p {
        color: #e5e5e5
    }

.comment-detail-title {
    color: #fff
}

.comment-form-section {
    color: #fff;
    background-color: #3c3f49;
    background-color: rgba(60,62,70,0.8)
}

    .comment-form-section > .comment-respond > form#commentform > p, .comment-form-section > .comment-respond > h3.comment-reply-title {
        color: #fff
    }

.comment-section {
    background-color: #3c3f49;
    background-color: rgba(65,67,75,0.8)
}

    .comment-section .comment.even {
        background-color: rgba(63,65,73,0.8);
    }

    .comment-section .comment.odd {
        background-color: rgba(67,69,77,0.8);
    }

.comment-title {
    border-bottom: 1px solid #7b7f8c
}

    .comment-title h3 {
        color: #fff
    }

        .comment-title h3 > i {
            color: #fff
        }

.comment_box h1, .comment_box h2, .comment_box h3, .comment_box h4, .comment_box h5, .comment_box h6 {
    color: #fff
}

.contact-form-section .contact-form {
    background-color: #3c3f49;
    background-color: rgba(55,57,65,0.8);
}

.contact .row.no_background .col-md-12.bigborder {
    background-color: #3c3f49;
    background-color: rgba(55,57,65,0.8);
}


.cont-btn a {
    color: #FFF
}

.cont-form-control {
    color: #e5e5e5;
    background-color: transparent;
    border: 1px solid #7b7f8c
}

.cont-form-control-textarea {
    color: #e5e5e5;
    background-color: transparent;
    border: 1px solid #7b7f8c
}

.cont-heading-title h1 {
    color: #fff
}

.cont-heading-title p {
    color: #e5e5e5
}

.contact-detail-area {
    background: none repeat scroll 0 0 #3c3f49;
    border: 1px solid #7b7f8c
}

    .contact-detail-area address, .contact-detail-area a {
        color: #e5e5e5
    }

    .contact-detail-area h5 {
        color: #fefefe
    }

    .contact-detail-area i {
        color: #fff
    }

.custom-background .navbar-wrapper.navbar1, .custom-background .navbar-header.header-style-4 {
    background-color: #2a2c33
}

.desi-seperate {
    background-color: #d0d0d0
}

.dropcape-circle span {
    color: #FFF
}

.dropcape-simple span {
    color: #e5e5e5
}

.dropcape-square span {
    color: #FFF
}

.dropcape-square, .dropcape-simple, .dropcape-circle {
    color: #e5e5e5
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background: none !important
}

.dropdown-menu > li > a {
    border-bottom: 1px solid rgba(0,194,169,0.5)
}

.entry-content img, .comment-content img, .widget img, img.header-image, .author-avatar img, .gallery-item .attachment-thumbnail {
    box-shadow: 0 1px 4px rgba(0,0,0,0.2)
}

.error_404 {
    color: #fff
}

.feature-icon i {
    color: #fff
}

.features-area h3 {
    color: #fff
}

.features-area p {
    color: #fff
}

.features-section .overlay {
    background: rgba(0,0,0,0.4)
}

.features-title {
    color: #fff
}

.flex_btn {
    color: #FFF
}

.footer-blog-post h3 a {
    color: #fff
}

.footer-blog-post span {
    color: #a8abb8
}

.footer-blog-post:hover .post-date {
    background-color: #fff
}

.footer-contact-social {
    border-bottom: 1px solid #575963
}

    .footer-contact-social li {
        background-color: rgba(0,0,0,0);
        border: 0 solid #FFF
    }

        .footer-contact-social li > a > i {
            color: #FFF
        }

            .footer-contact-social li > a > i:hover {
                color: #cbcbcb
            }

.footer-copyright {
    color: #fff
}

.footer-social-area {
    box-shadow: 0 7px 2px -6px #2A2C33
}

.footer-widget-flicker span > a > img {
    border: 1px solid #fff
}

.footer-widget-section .wp-block-search .wp-block-search__label, .footer-widget-section h1, .footer-widget-section h2, .footer-widget-section h3, .footer-widget-section h4, .footer-widget-section h5, .footer-widget-section h6 {
    color: #fff
}

.footer-widget-section li a {
    color: #e5e5e5
}

.footer-widget-tags a {
    background-color: transparent;
    border: 1px solid #8d919f;
    color: #fff
}

    .footer-widget-tags a:hover {
        background-color: #8d919f;
        border: 1px solid #8d919f
    }

footer.site {
    color: #aaa;
    background-color: #373941;
    background: rgba(55,57,65,0.95);
    border-top: var(--border-base) solid rgba(0,0,0,0.4)
}

    footer.site p {
        color: #fff
    }

.footer_widget_column .wp-block-tag-cloud a {
    background-color: transparent
}

.footer_widget_column > .tagcloud a {
    background-color: transparent;
    border: 1px solid #8d919f;
    color: #fff
}

    .footer_widget_column > .tagcloud a:hover {
        background-color: #8d919f;
        color: #fff
    }

.footer_widget_column > ul > li {
    color: #e5e5e5
}

    .footer_widget_column > ul > li > a, .footer_widget_column > ul > li > ul > li > a, .footer_widget_column > ul > li > ul > li > ul > li > a {
        color: #e5e5e5
    }

.footer_widget_column a {
    color: #fff
}

.footer_widget_title {
    color: #fff
}

.format-status {
    background-color: #f2f2f2
}

.google-map-title h1 {
    color: #fff
}

.head-contact-info li, .head-contact-info a {
    color: #FFF
}

.head-contact-social li {
    background-color: transparent;
    border-left: 1px solid #FFF
}

    .head-contact-social li > a > i {
        color: #FFF
    }

    .head-contact-social li > a > i {
        color: #FFF
    }

    .head-contact-social li:hover {
        background-color: #fff
    }

    .head-contact-social li:last-child {
        border-right: 1px solid #FFF
    }

.home-blog-area,
.page-blog-area {
    background-color: #3c3f49;
    background-color: rgba(70, 73, 84,0.4);
}

    .home-blog-area .home-blog-info h2,
    .page-blog-area .home-blog-info h2 {
        color: #f5f5f5
    }

        .home-blog-area .home-blog-info h2 > a,
        .page-blog-area .home-blog-info h2 > a {
            color: #f5f5f5
        }

    .home-blog-area:hover,
    .page-blog-area:hover {
        background-color: #464954;
        background-color: rgba(70, 73, 84,0.8)
    }

.home-blog-btn a, .home-blog-btn button {
    color: #FFF
}

.home-blog-description p {
    color: #e5e5e5
}

.home-blog-post-detail {
    border-bottom: 1px dotted #7B7F8C;
    color: #E5E5E5
}

    .home-blog-post-detail > .comment {
        color: #e5e5e5
    }

        .home-blog-post-detail > .comment > a {
            color: #e5e5e5
        }

            .home-blog-post-detail > .comment > a > i {
                color: #e5e5e5
            }

    .home-blog-post-detail > .date {
        color: #e5e5e5
    }

.home-portfolio-showcase .home-portfolio-showcase-detail h4 {
    color: #fff;
    border-bottom: 1px solid #fff
}

.home-portfolio-showcase-media img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
}

.portfolio-detail-section a.btn,
.portfolio-detail-section a.button,
.home-portfolio-showcase .home-portfolio-showcase-detail p {
    color: #FFF
}

.homepage_mycarousel {
    background: #2a2c33;
    background: rgba(55,57,65,0.5)
}

    .homepage_mycarousel .overlay {
        background: rgba(0,0,0,0.45)
    }

.image-para-content {
    color: #e5e5e5
}

.index2 .site-branding-text {
    background-color: unset
}

.index2 .site-branding-text {
    background-color: unset
}

.main-portfolio-showcase .main-portfolio-showcase-detail h4 {
    color: #fff;
    border-bottom: 1px solid #fff
}

.main-portfolio-showcase .main-portfolio-showcase-detail p {
    color: #FFF
}

.main-portfolio-showcase:before, .main-portfolio-showcase:after {
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.8)
}

.masonry-item .blog-lg-area-left h3 {
    color: #242526
}

.masonry-item .blog-lg-box:after {
    background: rgba(47,47,47,.3);
    background: -webkit-linear-gradient(rgba(0,0,0,0),#232323);
    background: -moz-linear-gradient(rgba(0,0,0,0),#232323);
    background: -o-linear-gradient(rgba(0,0,0,0),#232323);
    background: linear-gradient(rgba(47,47,47,.1),rgba(47,47,47,.3))
}

.menu-primary-container li a {
    color: #fff
}

.nav li.menu-item a:after {
    background-color: #fff;
}

.nav .open > .search-icon, .nav .open > .search-icon:focus {
    background-color: unset;
    border-color: unset
}

.navbar .search-box-outer .dropdown-menu, .index2 .search-box-outer .dropdown-menu {
    background-color: #fff
}

.navbar-default.navbar4 .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-default.navbar4 .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-header .wallstreet_title_head, .navbar-header .site-description {
    color: #FFF
}

.navbar-header .wallstreet_title_head, .navbar-header .site-description {
    color: #FFF
}

.navbar-header.index2 {
    background-color: #333
}

.navbar-header.index2 {
    background-color: #333
}

.navbar.navbar2 {
    background-color: rgba(0,0,0,1)
}

.navbar.navbar2 {
    background-color: rgba(0,0,0,1)
}

.navbar.navbar4 {
    background-color: #000
}

.navbar.navbar4 {
    background-color: #000
}

.navbar.navbar5 {
    background-color: rgba(0,0,0,1)
}

    .navbar.navbar5 .navbar-nav > .active > a, .navbar.navbar5 .navbar-nav > .active > a:hover, .navbar.navbar5 .navbar-nav > .active > a:focus {
        background-color: transparent;
        color: #00C2A9
    }

    .navbar.navbar5 .navbar-nav > .open > a, .navbar.navbar5 .navbar-nav > .open > a:hover, .navbar.navbar5 .navbar-nav > .open > a:focus {
        background-color: transparent;
        color: #00C2A9
    }

    .navbar.navbar5 .navbar-nav > li > a:hover, .navbar.navbar5 .navbar-nav > li > a:focus {
        background-color: transparent;
        color: #00C2A9
    }

.navbar2 li .dropdown-toggle::before {
    color: #fff
}

.navbar2 li .dropdown-toggle::before {
    color: #fff
}

.navbar2 ul li > a:after {
    background: transparent
}

.navbar5 .navbar-header .wallstreet_title_head, .navbar5 .navbar-header .site-description {
    color: #FFF
}

.other-service-area h2 {
    color: #fff
}

.other-service-area i {
    color: #fff;
    background-color: transparent;
    border: 2px solid #00c2a9
}

.other-service-area p {
    color: #c4c4c4
}

.other-service-area1 {
    color: #fff
}

    .other-service-area1 i {
        border: 2px solid #FFF;
        background-color: #2A2C33;
        color: #fff
    }

.page-breadcrumbs {
    background-color: rgba(0,0,0,0.6)
}

.page-header-title h1 {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8)
}

.page-links {
    color: #e5e5e5
}

    .page-links a {
        background-color: #2a2c33
    }

.page-mycarousel {
    box-shadow: 0 7px 10px -10px #000
}

.page-title-col a {
    color: #fff
}

.page-title-col h1, .page-title-col h2 {
    color: #fff
}

.page_scrollup {
    background-color: #00c2a9
}

    .page_scrollup i {
        color: #fff
    }

.pagetitle-separator {
    background: #ccc !important
}

.panel-default > .short-panel-heading h4 {
    color: #fff
}

    .panel-default > .short-panel-heading h4 > a {
        color: #fff
    }

.panel-title > a {
    color: inherit
}

.panel-title a span {
    color: #2a2c33
}

.portfolio.portfoliocat .container {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: rgba(55,57,65,0.6);
}

.port-detail-img:before, .port-detail-img:after {
    box-shadow: 0 0 15px rgba(0,0,0,0.8)
}

.portfolio-btn a, .portfolio-btn button.btn {
    background-color: #32343c;
    color: #FFF
}

.portfolio-detail-section a, .portfolio-detail-pagi li a, .portfolio-detail-section a:hover, .portfolio-detail-pagi li a:hover {
    color: #FFF
}

.portfolio-detail-description,
.portfolio-detail-filler {
    background-color: #3c3f49;
    background-color: rgba(80,82,90,0.8);
}

.portfolio-detail-filler {
    background-color: #3c3f49;
    background-color: rgba(80,82,90,0.4);
}

.portfolio-detail-description p {
    color: #e5e5e5
}

.portfolio-detail-info {
    background-color: #3c3f49;
    background-color: rgba(80,82,90,0.6);
}

    .portfolio-detail-info .project-btn {
        background: transparent;
        color: #fff
    }

    .portfolio-detail-info p {
        color: #fff
    }

        .portfolio-detail-info p small {
            margin: 5px 0 0
        }

.portfolio-detail-pagi li a {
    background: none repeat scroll 0 0 #565963;
    color: #fff
}

.portfolio-icon a {
    background-color: #32343c
}

    .portfolio-icon a > i {
        color: #FFF
    }

.portfolio-section {
    background-color: #373941;
    background: rgba(55,57,65,0.5);
    border-top: var(--border-base) solid rgba(0,0,0,0.4)
}

.portfolio-tabs li a {
    color: #fff
}

.portfolio-tabs li.active > a, .portfolio-tabs li > a:hover {
    color: #fff
}

.post-content li {
    color: #e5e5e5;
    border-bottom: 1px dotted #7b7f8c
}

    .post-content li > i {
        color: #fff
    }

    .post-content li a {
        color: #e5e5e5
    }

.post-date span.date {
    color: #FFF
}

.post-date span.month {
    color: #FFF
}

.post-media-sidebar {
    border-bottom: 1px dotted #7b7f8c
}

    .post-media-sidebar h3 a {
        color: #fff
    }

    .post-media-sidebar p {
        color: #fff
    }

.post-password-form input[type="password"] {
    color: #000
}

.post-password-form input[type="submit"] {
    color: #fff
}

.prelated-project-btn li a {
    color: #fff
}

    .prelated-project-btn li a:hover {
        color: #fff
    }

.show-all-btn a, .show-all-btn button {
    color: #FFF
}

    .show-all-btn a:hover {
        text-shadow: 0 1px 1px #4a4c56
    }

.qua_contact_area {
    background-color: #2a2c33
}

.qua_contact_btn {
    color: #FFF
}

.edit-link a,
.reply a {
    color: #fff;
    border: 1px solid #8a8c9a
}

.row.with_background,
.page_fader.with_background {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: rgba(55,57,65,0.6)
}

.page_fader .site-branding-text {
    color: #ddd
}

    .page_fader .site-branding-text .site-title,
    .page_fader .site-branding-text .site-title a {
        color: #fff
    }

.screen-reader-text:focus {
    background-color: #f1f1f1;
    color: #21759b
}

.search .row .col-md-8 #searchform {
    background-color: rgba(55,57,65,0.8);
    color: #21759b
}

.search-box-outer .bg-light {
    background-color: transparent !important
}

.search-box-outer .dropdown-menu > li {
    background: none
}

.search-box-outer .open > a, .search-box-outer .open > a:hover, .search-box-outer .open > a:focus {
    background-color: transparent !important;
    border-color: transparent !important
}

.search-box-outer a {
    color: #fff
}

.search-form input[type="submit"] {
    color: #fff
}

.search-panel input[type="search"] {
    color: #000;
    background: #fff
}

.search-widget a {
    background-color: #FA7073;
    box-shadow: 0 3px 0 0 #CC6567;
    color: #FFF
}

.search-widget input {
    border: 1px solid #E0E4E6;
    color: #939B9F
}

.search_btn {
    color: #fff
}

.search_err_heading {
    color: #fff
}

.search_heading {
    color: #fff
}

.search_widget_input {
    border: 1px solid #E0E4E6;
    background-color: #FFF;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset
}

    .search_widget_input:focus {
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(250,112,115,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(250,112,115,.6)
    }

.section_heading_title h1 {
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 60%), 1px -1px 1px rgb(0 0 0 / 60%), -1px 1px 1px rgb(0 0 0 / 60%), -1px -1px 1px rgb(0 0 0 / 60%)
}

.section_heading_title p {
    color: #E5E5E5
}

.service-area {
    background: none repeat scroll 0 0 rgba(100, 100, 100, 0.4);
    border: 0.2em solid #FFF
}

    .service-area h2 > a {
        color: #f5f5f5
    }

    .service-area p {
        color: #E5E5E5
    }

    .service-area:hover .service-btn a, .service-area:hover button.btn {
        background-color: #32343c
    }

.service-box img {
    border: 2px solid #FFF
}

.service-btn a, .service-btn button.btn {
    color: #FFF
}

.service1 .service-area:hover {
    background: none
}

    .service1 .service-area:hover .service-btn a {
        background-color: unset
    }

.service1 .service-box i.fa {
    color: #fff
}

.service1 .service-effect .service-btn:hover a {
    background-color: #00C2A9
}

.service1 .service-effect:hover .service-box i.fa {
    background: #f5f6fa
}

.service1 h2 > a:hover {
    color: #00c2a9
}

.service2 .service-area:hover {
    background: none
}

.service2 .service-effect:hover .service-box i.fa {
    color: #F5F5F5
}

.service2 .service-effect:hover .service-btn a {
    background-color: unset
}

.service3 .service-area:hover {
    background: none
}

.service3 .service-box i.fa {
    color: #fff
}

.service3 .service-box img {
    background: #fff
}

.service3 .service-effect:hover {
    color: #fff
}

    .service3 .service-effect:hover .service-box i.fa {
        background: #f5f6fa
    }

    .service3 .service-effect:hover .service-btn a {
        background-color: unset
    }

.service4 .service-area:hover {
    background: none
}

    .service4 .service-area:hover .service-btn a {
        background-color: unset
    }

.service4 .service-effect .service-btn a {
    color: #fff
}

.service4 .service-effect .service-btn:hover a {
    background-color: #00C2A9
}

.service4 h2 > a:hover {
    color: #00c2a9
}

.service5 .service-area:hover {
    background: none
}

.service5 .service-box i.fa {
    background: #00C2A9
}

.service5 .service-box i.fa {
    color: #fff
}

.service5 .service-box img {
    box-shadow: #00c2a9 0 0 0 1px
}

.service5 .service-effect {
    background: #373941
}

.service5 .service-effect {
    background: #f8f8f8
}

    .service5 .service-effect:hover {
        background: #00C2A9
    }

        .service5 .service-effect:hover .service-box i.fa {
            background-color: #fff;
            color: #00C2A9
        }

        .service5 .service-effect:hover .service-btn a {
            background-color: #32343c
        }

        .service5 .service-effect:hover h2 > a {
            color: #fff
        }

        .service5 .service-effect:hover p {
            color: #fff
        }

.short-btn-green {
    color: #fff
}

.short-btn-grey {
    background-color: #7e7f84;
    color: #fff
}

.short-btn-transparent {
    background-color: transparent;
    border: 1px solid #e5e5e5;
    color: #fff
}

.short-btn-white {
    background-color: #fff;
    color: #2a2c33
}

.short-panel-heading {
    border-bottom: 1px solid rgba(0,0,0,0)
}

.short-tabs > .active a {
    background: #fff;
    color: #2a2c33
}

.short-tabs li {
    background: none repeat scroll 0 0 transparent
}

    .short-tabs li a {
        color: #fff
    }

.short-tooltip {
    color: #e5e5e5
}

.sidebar-comment-box span {
    color: #e5e5e5
}

    .sidebar-comment-box span > a {
        color: #e5e5e5
    }

        .sidebar-comment-box span > a > i {
            color: #8C9193
        }

    .sidebar-comment-box span > small {
        color: #fff
    }

.sidebar-section {
    background-color: #3c3f49;
    background-color: rgba(55,57,65,0.8)
}

.sidebar-tweet-area .media-body {
    border-bottom: 1px dotted #7b7f8c
}

.sidebar-tweet-area i {
    color: #fff
}

.sidebar-tweet-area p {
    color: #e5e5e5
}

.sidebar-tweet-area span {
    color: #fff
}

.sidebar-widget .wp-block-search .wp-block-search__label, .sidebar-widget h1, .sidebar-widget h2, .sidebar-widget h3, .sidebar-widget h4, .sidebar-widget h5, .sidebar-widget h6 {
    color: #fff
}

.sidebar-widget .wp-block-tag-cloud a, .footer-widget-section .footer_widget_column .wp-block-tag-cloud a {
    color: #fff
}

.sidebar-widget > .tagcloud a {
    background-color: #565963;
    color: #e5e5e5;
    border: 1px solid transparent
}

.sidebar-widget > div.textwidget, .footer_widget_column > div.textwidget {
    color: #fff
}

.sidebar-widget > ul > li {
    border-bottom: 1px dotted #7b7f8c;
    color: #e5e5e5
}

    .sidebar-widget > ul > li > a, .sidebar-widget > ul > li > ul > li > a, .sidebar-widget > ul > li > ul > li > ul > li > a {
        color: #fff
    }

        .sidebar-widget > ul > li > a:before, .footer_widget_column > ul > li > a:before {
            color: #fff
        }

.sidebar-widget div#calendar_wrap table > tbody > tr > td, .footer_widget_column div#calendar_wrap table > tbody > tr > td {
    border: 1px solid #7b7f8c
}

.sidebar-widget div#calendar_wrap table > tfoot > tr > td, .footer_widget_column div#calendar_wrap table > tfoot > tr > td {
    border: 1px solid #7b7f8c
}

.sidebar-widget div#calendar_wrap table > thead > tr > th, .footer_widget_column div#calendar_wrap table > thead > tr > th {
    border: 1px solid #7b7f8c
}

.sidebar-widget div#calendar_wrap table#wp-calendar, .footer_widget_column div#calendar_wrap table#wp-calendar {
    border: 1px solid #7b7f8c
}

.sidebar-widget label, .menu-primary-container li {
    color: #fff
}

.sidebar-widget li a {
    color: #fff
}

    .sidebar-widget li a::before, .footer-widget-section li a::before {
        color: #fff
    }

    .sidebar-widget li a:hover, .sidebar-widget li a:focus, .footer-widget-section li a:hover, .footer-widget-section li a:focus {
        color: #00c2a9
    }

.sidebar-widget p a, .footer-widget-section .footer_widget_column p a, .sidebar-widget .wp-block-latest-comments__comment-author, .footer-widget-section .wp-block-latest-comments__comment-author {
    color: #00c2a9
}

.sidebar-widget ul.sidebar-tab.sidebar-widget-tab > li {
    color: #e5e5e5
}

.sidebar-widget, .footer-widget-section {
    color: #fff
}

.sidebar-widget-tab > .active a {
    color: #FFF
}

.sidebar-widget-tab li a {
    color: #e5e5e5
}

.sidebar-widget-tags a {
    background-color: #565963;
    color: #e5e5e5
}

    .sidebar-widget-tags a:hover {
        color: #fff
    }

    .sidebar-widget-tags a:hover, .tagcloud a:hover {
        color: #fff
    }

.sidebar-widget-title h2 {
    color: #fff
}

.slide-text-bg1 h2 {
    color: #FFF
}

.slide-text-bg2 h1 {
    color: #FFF;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff
}

.slide-text-bg3 p {
    color: #FFF
}

#subscribe-email input, .search_widget_input {
    background-color: #2a2c33;
    color: #fff;
    border: 1px solid #E0E4E6;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;
}

    #subscribe-email input:focus, .search_widget_input:focus {
        border-color: #2793ff;
        background-color: #565963;
        box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;
    }

.table {
    background: #fff
}

.table-bordered {
    border: 1px solid #eee !important
}

.team-area {
    background: none repeat scroll 0 0 rgba(0,0,0,0);
    border: 1px solid #9da0aa
}

    .team-area h5 {
        color: #f5f5f5
    }

    .team-area p {
        color: #d6d6d9
    }

    .team-area:hover {
        border: 1px solid #e5e5e5
    }

        .team-area:hover h5 > span {
            color: #ccc
        }

        .team-area:hover p {
            color: #fff
        }

.team-box img {
    border: 0.5em solid #2a2c33;
    box-shadow: 0 0 0 3px #9da0aa
}

.team-img {
    background-color: transparent;
    background: none repeat scroll 0 0 rgba(100, 100, 100, 0.4);
    border: 0.2em solid #fff;
}



.team-effect:hover .team-box img {
    box-shadow: 0 0 0 1px #e5e5e5
}

.team-section1 .custom-social-icons li > a {
    color: #f5f5f5
}

.team-section1 .team-img .overlay .custom-social-icons li > a {
    color: #061018;
    background-color: #fff
}

.team-social-icons li {
    background-color: rgba(0,0,0,0);
    border: 0 solid #FFF
}

    .team-social-icons li > a > i {
        color: #FFF
    }

.team2 .name {
    color: #f5f5f5
}

.team3 .name {
    color: #2a2c33
}

.team3 .team-block {
    background: #e8e8e8
}

    .team3 .team-block .custom-social-icons li > a {
        color: #727272
    }

    .team3 .team-block .team-img img {
        color: #fff
    }

.team4 .custom-social-icons {
    background: #fff
}

.team4 .name {
    color: #2a2c33
}

.team4 .team-block .custom-social-icons li > a {
    color: #727272
}

.team4 .team-details {
    background: #fff
}

.testimonial-area h2 {
    color: #2a2c33
}

    .testimonial-area h2 > i {
        background-color: #fff
    }

.testimonial-area img {
    border: 3px solid #2a2c33
}

.testimonial-area p {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4)
}

.testimonial1 p:before {
    color: #2a2c33
}

.testimonial2 .testimonial-area h2 {
    color: #2a2c33
}

.testimonial2 p:before {
    color: #2a2c33
}

.testimonial3 p:before {
    color: #2a2c33
}

.toprow {
    background-color: rgba(55,57,65,0.8)
}


.tweet-area h2 {
    color: #fff
}

.tweet-area p {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4)
}

.tweet-btn a {
    background-color: rgba(0,0,0,0);
    border: 1px solid #FFF;
    color: #FFF
}

.tweet-section {
    background: url(./images/tweet-bg.jpg)
}

    .tweet-section .overlay {
        background: rgba(0,0,0,0.4)
    }

.typo-head-title {
    border-bottom: 1px dotted #7b7f8c
}

    .typo-head-title h3 {
        color: #fff
    }

.typo-para-icons span {
    color: #e5e5e5
}

.typo-section blockquote {
    background-color: #3c3f49
}

.typo-section blockquote {
    background-color: #3c3f49
}

    .typo-section blockquote > small {
        color: #fff
    }

    .typo-section blockquote > span {
        color: #e5e5e5
    }

.typo-section p {
    color: #e5e5e5
}

.ui-slider-horizontal .ui-slider-range {
    background: #00c2a9
}

.wallstreet_page_heading {
    color: #fff
}

.wallstreet_searching {
    color: #fff
}

.warning.java {
    color: white;
}

.wc-block-product-search .wc-block-product-search__button {
    background: #00c2a9
}

.wp-block-calendar table caption {
    color: #242526
}

.wp-block-calendar table caption, .wp-block-calendar a {
    color: #00c2a9
}

.wp-block-calendar table caption, .wp-block-calendar table tbody {
    color: #8F969C
}

.wp-block-calendar table th {
    background: #EEE
}

.wp-block-group .wp-block-group__inner-container p, .wp-block-latest-comments__comment-excerpt p {
    color: #fff
}

.wp-block-latest-comments__comment-meta {
    color: #fff
}

.wp-block-latest-posts__post-author, .wp-block-latest-posts__post-date {
    color: #fff
}

.wp-block-search .wp-block-search__button {
    background-color: #00c2a9
}

.wp-block-search .wp-block-search__button {
    color: #FFF
}

.wp-block-search .wp-block-search__input {
    background-color: #2a2c33;
    color: #fff
}

    .wp-block-search .wp-block-search__input:focus {
        background-color: #565963;
    }

.wp-block-tag-cloud {
    color: #fff
}

    .wp-block-tag-cloud a {
        background-color: #565963;
        color: #FFF
    }

        .wp-block-tag-cloud a:hover, .wp-block-tag-cloud a:focus {
            background-color: #00c2a9;
            border: none
        }

.wp-caption .wp-caption-text, .gallery-caption, .entry-caption {
    color: #e5e5e5
}

.wpcf7 p {
    color: #fff
}

.wpcf7-submit {
    color: #FFF;
    background-color: #00c2a9
}

.wpcf7-text, .wpcf7-file, .wpcf7-number, .wpcf7-date, .wpcf7-select, .wpcf7-quiz {
    color: #fff;
    background-color: transparent
}

.wpcf7-textarea {
    background-color: transparent
}

a.blog-btn, button.blog-btn {
    color: #FFF;
    border: 1px solid transparent
}

a.readmore {
    color: #fa7073
}

article footer {
    color: #e5e5e5
}

article.format-aside .aside {
    background: none repeat scroll 0 0 #d2e0f9;
    border-left: 22px solid #a8bfe8;
    padding: 1.71429rem
}

button.btn:hover, button.btn:focus, button.btn.focus {
    color: #fff
}

button.close {
    background: none repeat scroll 0 0 rgba(0,0,0,0)
}

div.portfolio-detail-section {
    background-color: rgba(55,57,65,0.6)
}

a.comment-edit-link:before, a.comment-reply-link:before, input[type="submit"]:before, button:before, .btn:before {
    background: rgba(0,0,0,0.15);
    color: #fff
}

input#pwbox-1168 {
    background-color: #fff;
    border: 1px solid #e0e4e6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #e5e5e5
}

p.short-tabs-content {
    color: #2a2c33;
    background: #fff
}

th {
    color: #2a2c33;
    background: #eee;
    border-bottom: 4px solid #eee;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1)
}

tr {
    color: #e5e5e5;
    text-shadow: 0 1px 1px rgba(256,256,256,0.1)
}

    tr:nth-child(even) {
        background-color: #3d3f47
    }

    tr:nth-child(odd) {
        background-color: #2a2c33
    }

ul.dropdown-menu.search-panel.popup_dark {
    background-color: rgba(35,37,45,0.95);
    border: 2px rgba(55,57,65,0.6) solid
}

ul.dropdown-menu.search-panel.popup_light {
    background-color: rgba(135,137,145,0.95);
    border: 2px rgba(155,157,165,0.6) solid
}

ul.sidebar-tab.sidebar-widget-tab > li > a:hover, ul.sidebar-tab.sidebar-widget-tab > li.active > a {
    color: #fff !important
}
