/*!
 * Theme Menu Css created by Shahid (Scientech)
 */

/*Menu Section--------------------------------------------------------------------------*/
.navbar-inverse {
    border: none;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0;
}

    .navbar-inverse .navbar-toggle {
        border-color: none;
    }

    .navbar-inverse .navbar-brand {
        color: #ffffff;
    }

.navbar > .container .navbar-brand.noText {
    margin-left: 0px;
    height: 100%;
    display: flex;
    position: relative
}

.navbar > .container .navbar-brand.withText ~ .site-branding-text .navbar-brand {
    margin-left: 0
}

.navbar > .container .noLogo .navbar-brand {
    position: relative
}

.navbar-brand {
    font-family: 'SiteFont';
    font-weight: 400;
    font-size: 40px;
    height: auto;
    line-height: 40px;
    padding: 0;
    margin-right: 50px;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    min-height: 100px;
}

    .navbar .navbar-nav > .active > a,
    .navbar .navbar-nav > .active > a:hover,
    .navbar .navbar-nav > .active > a:focus {
        color: #FFFFFF;
    }

    .navbar .navbar-nav > .open > a,
    .navbar .navbar-nav > .open > a:hover,
    .navbar .navbar-nav > .open > a:focus {
        color: #FFFFFF;
    }

    .navbar .navbar-nav > li {
        margin-right: 0px;
        padding: 0 0 0px 0px;
    }

        .navbar .navbar-nav > li > a {
            line-height: 20px;
            padding: 40px 19px;
            border-radius: 0px 0px 4px 4px;
            color: #ffffff;
            font-family: 'SiteFont';
            font-weight: 400;
            font-size: 16px;
        }

            .navbar .navbar-nav > li > a:hover,
            .navbar .navbar-nav > li > a:focus {
                color: #FFFFFF;
            }

.nav {
    margin-top: 0px;
}

.navbar-collapse {
    max-height: 100%;
}

/*Dropdown Menus & Submenus Css----------------------------------------------------------*/

.dropdown > a .glyphicon, .dropdown-menu > a .glyphicon {
    margin: -10px 0 0 10px;
    position: relative;
    top: 2px;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 225px;
    border-radius: 4px;
    border: 0 none;
    box-shadow: 2px 5px 16px 0px rgba(0, 0, 0, 0.7), 5px 5px 15px 5px rgba(0,0,0,0);
    padding: 15px;
}

    .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
        color: #fff
    }

    .dropdown-menu > li > a {
        color: #ffffff;
        font-family: 'SiteFont';
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        padding: 15px 20px;
        transition: color 0.2s ease-in-out 0s;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .dropdown-menu > li > a:last-child {
            border-bottom: 0px;
            border-bottom: 0;
        }

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            text-decoration: none;
            background-color: transparent;
        }

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > a .glyphicon {
        top: 12px;
    }

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100% !important;
        margin-top: 0px;
        margin-left: 0px;
        border-radius: 4px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu .pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            border-radius: 4px;
        }

.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 15px 15px 15px 15px;
}

.navbar-right .dropdown-menu {
    left: 0;
    right: 0;
}

.withLogo {
    margin-right: 10px;
}

.withText {
    margin-right: 0px;
    float: none
}
